/*.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}*/
nav {
    height: 9vh;
}

.beer-logo {
  max-height: 80%;
  margin-left: .4em;
  margin-top: .4em;;
}

a.brand-logo {
  /*color: rgb(255, 210, 92);*/
  color: rgb(246, 181, 43);
  font-family: 'Acme', sans-serif;
  font-size: 2.5em;
}

nav ul li a:hover {
  /*background-color: #424242;*/
  color: rgb(246, 181, 43);
}

nav ul li a.activated {
  color: rgb(246, 181, 43);
}
